body {
  background-color: whitesmoke;
  font-size: 0.8em;
}

.navbar {
  text-align: left;
  width: 720px;
  margin: auto;
  background: white;
  padding: 1em;

  nav {
    display: inline-block;

    .primary-nav {
      width: 500px;
    }
    .secondary-nav {
      display: none;
    }
  }
}

.logo {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1em;
  color: black;
  cursor: auto;
  width: 20px;
  height: 20px;

  span {
    color: blue;
  }
}

.mobile-menu {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.ticker {
  height: auto;
  width: 700px;
  margin: auto;
  float: bottom;
  display: block;
  border: none;
}
.btc {
  height: auto;
  width: 100%;
  margin: auto;
  float: none;
  display: block;
}
.eth {
  height: auto;
  width: 100%;
  margin: auto;
  float: none;
  display: block;
}
.stocks {
  height: auto;
  width: 700px;
  margin: auto;
  float: bottom;
  display: block;
  border: none;
}

.stockticker {
  width: auto;
}
