body {
  background-color: whitesmoke;
  font-size: 0.8em;
}
.ticker {
  height: auto;
  width: 500px;
  margin: auto;
  float: bottom;
  display: block;
  border: none;
}
.btc {
  height: auto;
  width: 500px;
  margin: auto;
  float: none;
  display: block;
}
.eth {
  height: auto;
  width: 500px;
  margin: auto;
  float: none;
  display: none;
}
.stocks {
  height: auto;
  width: 500px;
  margin: auto;
  float: bottom;
  display: block;
  border: none;
}
